:root {
  --main-background-color: #ffffff;
  --main-text-color: #434455;
  --main-secodary-text-color: #f4f4fd;
  --main-title-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --border-color-btn-portfolio: #e7e9fc;
  --menu-text-color: #404bbf;
  --color-text-label: #8e8f99;
  --privacy-link-color: #4d5ae5;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ===========Default=========== */
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 428px) {
  .modal {
    max-width: 392px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
.link {
  text-decoration: none;
}
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link-item:hover,
.link-item:focus {
  color: var(--menu-text-color);
}
.feedback:hover,
.feedback:focus {
  color: var(--menu-text-color);
}
.btn-menu-item:hover,
.btn-menu-item:focus {
  background-color: var(--menu-text-color);
  color: #ffffff;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.link-item {
  position: relative;
  display: block;
  padding: 24px 0;
  color: var(--main-title-color);
  transition: color var(--transition-duration-and-func);
}
/* ===========/Default=========== */

/* ===========Шапка=========== */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.main-logo {
  color: var(--main-title-color);
}
.section-hero {
  margin: auto;
  padding: 112px 0 112px;
  text-align: center;
  max-width: 428px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-img/background-mobil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* ======Mobile-version====== */
@media screen and (max-width: 767px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-menu {
    display: none;
  }
  .feedback-list {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .mobile-menu-open-btn-icon {
    stroke: #2e2f42;
  }
  .mobile-menu-open-btn {
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
  }
  /* mobile-menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration-and-func),
      visibility var(--transition-duration-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
    padding: 80px 35px 40px 40px;
  }
  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-link-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .mobile-link-item:hover,
  .mobile-link-item:focus {
    color: var(--menu-text-color);
  }
  .mobile-contact-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
  .phone-mobile-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
  }
  .email-mobile-menu {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .phone-mobile-menu:hover,
  .phone-mobile-menu:focus {
    color: var(--privacy-link-color);
  }
  .email-mobile-menu:hover,
  .email-mobile-menu:focus {
    color: var(--privacy-link-color);
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background: transparent;
    border: 1px solid rgba(46, 47, 66, 0.1);
    cursor: pointer;
    transition: background var(--transition-duration-and-func);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background: #404bbf;
    border: none;
  }

  .mobile-menu-close-icon {
    fill: #2e2f42;
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #ffffff;
  }
  .mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color var(--transition-duration-and-func);
    fill: var(--main-secodary-text-color);
  }
  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: var(--menu-text-color);
    fill: var(--main-secodary-text-color);
  }
  .mobile-menu-social-item {
    width: 40px;
    height: 40px;
  }
}
.active {
  color: var(--menu-text-color);
}
/* ===========/Шапка=========== */

/* ===========Hero=========== */
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-img/background-mobil@2x.jpg);
  }
}
/* ======Mobile-version====== */
.main-title {
  margin: auto;
  max-width: 320px;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-background-color);
}
.main-btn {
  display: block;
  border: none;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-background-color);
  background-color: var(--privacy-link-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration-and-func);
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--menu-text-color);
}
/* ===========/Hero=========== */
/* ===========Main=========== */
/* About-section */
.about-icon {
  display: none;
}
.about-section {
  padding: 96px 0;
}
.skill {
  padding-bottom: 72px;
}
.skill-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background-color);
  margin-bottom: 8px;
}
.skill-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
}
.skill-name:last-child {
  margin-bottom: 0;
}
/* Section-team */
.team-section {
  padding: 96px 0 96px;
  background-color: var(--main-secodary-text-color);
}
.minor-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 72px;
}
.team-list-item {
  width: 264px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  min-height: 380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}
.team-list-item:last-child {
  margin-bottom: 0;
}
.name-workers {
  padding: 32px 0px;
}
.employee-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.job-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-icon {
  display: flex;
  fill: #f4f4fd;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--privacy-link-color);
  transition: background-color var(--transition-duration-and-func);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--menu-text-color);
}
/* Customers-company */
.section-customers {
  padding: 96px 0;
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}
.customers-logo {
  height: 88px;
  width: calc((100% - 24px) / 2);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #8e8f99;
  transition: border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--menu-text-color);
  color: var(--menu-text-color);
}

.customers-icon {
  fill: currentColor;
}
/* Footer-mobile */
.footer {
  padding: 96px 0;
  background-color: var(--main-title-color);
}
.main-logo-footer {
  margin-bottom: 16px;
}
.footer-left-content {
  text-align: center;
  margin-bottom: 72px;
}
.footer-logo-right {
  align-items: center;
  padding: 0px;
  color: var(--main-secodary-text-color);
}
.footer-text {
  max-width: 264px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  color: var(--main-secodary-text-color);
}
.title-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-duration-and-func);
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.item-social {
  width: 40px;
  height: 40px;
}
.icon-social-footer {
  fill: #f4f4fd;
}
.social-footer-container {
  margin-bottom: 72px;
}
.modal-title-subscribe {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.form-footer {
  display: block;
}
.modal-footer {
  margin-right: 24px;
}
.input-footer {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: #ffffff;
  transition: border var(--transition-duration-and-func);
}
.input-footer:focus {
  outline: none;
  border: 1px solid var(--privacy-link-color);
}
.input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}
.subscribe-btn {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: var(--privacy-link-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--main-background-color);
  fill: var(--main-background-color);
  transition: background-color var(--transition-duration-and-func);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--menu-text-color);
}
.telegram-icon {
  margin-left: 16px;
}
/* ======/Mobile-version====== */
/* ======Tablet-version====== */
@media screen and (min-width: 768px) {
  /* header */
  .mobile-menu-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-menu {
    display: flex;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
  }
  .active::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--menu-text-color);
    border-radius: 2px;
  }
  .feedback-menu {
    font-style: normal;
    display: flex;
    margin-left: auto;
  }
  .feedback-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .feedback {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
    transition: color var(--transition-duration-and-func);
  }
  /* hero-tablet */
  .main-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .section-hero {
    margin: auto;
    padding: 112px 0 112px;
    text-align: center;
    max-width: 768px;
    height: 436px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/background-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .modal {
    max-width: 408px;
  }
  /* about-tablet */
  .list-skills {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .skill-name {
    text-align: start;
  }
  .skill {
    display: block;
    margin-bottom: 0;
    width: calc((100% - 24px) / 2);
    padding-bottom: 0;
  }
  /* teamcards-tablet */
  .members-company-container {
    max-width: 584px;
  }
  .team-list {
    display: flex;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .team-list-item {
    margin: 0;
  }
  /* customers-tablet */
  .customers-container {
    max-width: 584px;
  }
  .customers-logo {
    width: calc((100% - 48px) / 3);
  }
  /* footer-tablet */
  .footer-container {
    max-width: 584px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-left-content,
  .social-footer-container {
    margin-bottom: 0;
  }
  .footer-left-content {
    text-align: start;
  }
  .title-media {
    text-align: start;
  }
  .form-footer {
    display: flex;
    justify-content: center;
  }
  .modal-title-subscribe {
    text-align: start;
  }
  .subscribe-btn {
    margin-top: 0;
  }
  .input-footer {
    width: 264px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-img/background-tablet@2x.jpg);
  }
}
/* 
.about-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
}
.list-skills:last-child {
  margin-right: 0;
}
.skill {
  width: calc((100% - 72px) / 4);
}
.skill-name {
  text-align: start;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.skill-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
} */
/* /About section */

/* Specialization section */
/* .specialization-section {
  padding-bottom: 120px;
}
.specialization-list {
  display: flex;
  gap: 24px;
}

.img-special {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
} */
/* /Specialization section */

/* Team section */
/* .team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-secodary-text-color);
}
.minor-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-section {
  padding: 120px 0 120px;
  background-color: var(--main-secodary-text-color);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list:last-child {
  margin-right: 0;
}
 */
/* /Team section */
/* Section Customers */
/* .section-customers {
  padding: 120px 0 120px;
}
 */
/* /Section Customers */
/* ===========/Main=========== */
/* ===========Footer=========== */
/* .footer {
  margin: auto;
  padding: 100px 0;
  background-color: var(--main-title-color);
}

 */
/* ===========/Footer=========== */
/* ===========Modal=========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration-and-func);
}
.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-duration-and-func),
    border var(--transition-duration-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--menu-text-color);
  border: none;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill var(--transition-duration-and-func);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #2e2f42;
}
.form-container {
  margin-bottom: 8px;
}
.contact-form-field-wrapper {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-text-label);
  margin-bottom: 4px;
  background-color: transparent;
  outline: transparent;
}
.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-duration-and-func);
}
.contact-form-input:focus,
.contact-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}
.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color var(--transition-duration-and-func);
}
.contact-form-message::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.contact-form-desc {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.contact-form-input-wrapper {
  position: relative;
  display: block;
}
.icon-contact-form {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--main-title-color);
  transform: translateY(-50%);
  transition: fill var(--transition-duration-and-func);
}
.contact-form-input:focus + .icon-contact-form {
  fill: #4d5ae5;
}
.textarea-container {
  margin-bottom: 16px;
}
.privacy-policy-container {
  margin-bottom: 24px;
}
.contact-form-checkbox:checked
  + .contact-form-checkbox-wrapper
  .modal-text-privacy-policy {
  background-color: var(--menu-text-color);
  border: none;
  fill: var(--main-background-color);
  border-color: var(--menu-text-color);
}
.contact-form-checkbox:focus
  + .contact-form-checkbox-wrapper
  .modal-text-privacy-policy {
  border-color: var(--menu-text-color);
}
.contact-form-checkbox-wrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-text-label);
  margin-bottom: 4px;
  background-color: transparent;
  outline: transparent;
}
.modal-text-privacy-policy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
}
.contact-policy-link {
  color: var(--privacy-link-color);
}
.contact-form-checkmark {
  cursor: pointer;
}
.contact-form-submit {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-duration-and-func);
}
.contact-form-submit:hover,
.contact-form-submit:focus {
  background-color: var(--menu-text-color);
}
/* ===========/Modal=========== */
/* ==========Portfolio========== */
/* .portfolio {
  padding: 96px 0 120px;
}
.btn-menu-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-menu-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--border-color-btn-portfolio);
  border-radius: 4px;
  background-color: var(--main-secodary-text-color);
  color: #4d5ae5;
  cursor: pointer;
  transition: color var(--transition-duration-and-func),
    background-color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}
.btn-menu-item:hover,
.btn-menu-item:focus-visible {
  border: 1px solid transparent;
  border-color: transparent;
  color: #ffffff;
  background-color: var(--menu-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-link-portfolio {
  width: calc((100% - 48px) / 3);
}
.link-portfolio {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.employes-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform var(--transition-duration-and-func);
  color: var(--main-secodary-text-color);
  background-color: #4d5ae5;
}
.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
  transform: translateY(0%);
}
.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.examples-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.examples-text-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
} */
/* ==========/Potrfolio========== */
